@font-face {
  font-family: "taviraj";
  src: url("font/Taviraj-Medium.ttf");
}
body {
  font-family: taviraj;
}
h6 {
  font-size: 24px;
}

/*NavBar Section Elements Style*/
/*Links for navigation*/
.jm-nav-link {
  font-weight: 400;
  font-size: 20px;
  color: #333333;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}
/*Login*/
.jm-login {
  color: black;
}

/*Two text cards Section*/
.jm-left-text-box {
  margin-bottom: 25px;
  position: relative;
  background: white;
}
.jm-left-text {
  background: #daf196;
  padding-left: 20px;
  padding-top: 20px;
}
.jm-discover-button-left {
  top: 5px;
  bottom: 25px;
  position: relative;
  color: black;
  text-decoration: none;
  font-size: 16px;
}
.jm-discover-button-left::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  border-top: 0.1rem solid black;
  width: 85px;
  margin-left: 5.5px;
  top: 25px;
}
.jm-left-box-photo {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}
.jm-right-text-box {
  text-align: end;
  position: relative;
  background: white;
}

.jm-right-text {
  position: relative;
  background: #daf196;
  padding-right: 20px;
  padding-top: 20px;
}
.jm-right-box-title {
  position: relative;
}
.jm-right-text-box-div {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.jm-right-text-box-paragraph {
  size: 16px;
  color: #777777;
  width: 300px;
}
.jm-discover-button-right {
  top: 5px;
  bottom: 25px;
  position: relative;
  color: black;
  text-decoration: none;
  font-size: 16px;
}
.jm-discover-button-right::after {
  position: absolute;
  bottom: 0;
  top: 25px;
  right: 0;
  margin-right: 5.5px;
  display: block;
  content: "";
  border-top: 0.1rem solid black;
  width: 85px;
  align-items: center;
}
.right-box-photo {
  margin-top: 25px;
  display: flex;
  justify-content: flex-start;
}
.jm-text-box-paragraph {
  margin-top: 20px;
  size: 16px;
  color: #777777;
  width: 300px;
}

/*Monthly Deals Section*/
.jm-cards {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background: #daf196;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.jm-cards:hover {
  background: #c4c4c4;
}
.jm-image-before-text {
  position: relative;
  width: 200px;
  height: 221px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
}
.jm-images-for-cards {
  position: absolute;
  width: 200px;
  max-width: 100%;
  height: auto;
}
.jm-text-behind-photo {
  margin-top: 25px;
  margin-bottom: 25px;
}
.jm-name-of-the-product {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.jm-discount {
  color: #777777;
}
.jm-strike-price {
  text-decoration: line-through;
  color: #777777;
}
.jm-card-name-and-price {
  font-size: 24px;
}
.jm-dot-and-add-to-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.jm-circle-before-add-to-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background: #777777;
  margin-right: 5px;
}

.jm-add-to-cart {
  display: inline-block;
  background: #333333;
  color: white;
  padding: 5px 39px;
}

/*Recent News Section*/

.jm-recent-news {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
@media (max-width: 768px) {
  .jm-recent-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.jm-recent-news-text {
  width: 450px;
  max-width: 100%;
}
.jm-recent-news-colored-div {
  width: 810px;
  height: 479px;
  background: hsl(75, 76%, 77%);
  position: relative;
  top: -540px;
  left: 596px;
  z-index: -1;
}
@media (max-width: 1495px) {
  .jm-recent-news-colored-div {
    display: none;
  }
}

.jm-recent-news-image {
  position: relative;
  width: 474px;
  max-width: 100%;
  border-style: solid;
  border-color: red;
  animation: imageAnimation;
  animation-duration: 5s;
}
@keyframes imageAnimation {
  from {
    left: 0px;
  }
  to {
    left: 147px;
  }
}

.jm-recent-news-span {
  color: #777777;
  margin-bottom: 10px;
  transition: font-size 2s;
}
.jm-recent-news-span:hover {
  font-size: larger;
}
.jm-recent-news-h3 {
  color: #333333;
  transition: font-size 2s;
}
.jm-recent-news-h3:hover {
  font-size: 30px;
}

.jm-recent-news-discover {
  width: 100px;
  height: 40px;
  border-style: groove;
  border-color: #333333;
  text-decoration: none;
  color: #333333;
  margin-top: 35px;
  transition: width 2s;
  transition: font-size 2s;
}
.jm-recent-news-discover:hover {
  width: 150px;
  font-size: 20px;
  color: #333333;
}
/*Best Seller, New Arrival & Featured*/
.jm-products {
  flex: display;
  justify-content: space-around;
}
/*Line that appears before the Best Seller, New Arrival & Featured */
.jm-smaller-titles::before {
  display: inline-block;
  content: "";
  border-top: 0.1rem solid black;
  width: 4rem;
  margin-right: 1rem;
  transform: translateY(-1rem);
}
.jm-three-element-group {
  height: 400px;
  display: flex;
  flex-direction: column;
}

/*Testemonials*/
/*The same class is used for the line before the Monthly Deals title section*/
.jm-title::before {
  display: inline-block;
  content: "";
  border-top: 0.1rem solid black;
  width: 7rem;
  margin-right: 1rem;
  transform: translateY(-7px);
}

/*Top Brands Section*/
.jm-title-top-brands {
  font-size: 30px;
  background: #daf196;
  text-align: center;
  width: 50%;
  margin: auto;
}
.jm-top-brands {
  display: inline;
}
.jm-dark {
  width: 196px;
  height: 196px;
  position: relative;
}
.jm-dark-overlay {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  border-style: groove;
}
.jm-dark-overlay:hover {
  object-fit: cover;
  opacity: 0.1;
  color: #ffffff;
}

/*Sponsor*/
.jm-title-sponsor {
  font-size: 90px;
  text-align: center;
  background: #daf196;
  color: #333333;
}
/*Footer*/
.jm-footer {
  background: #daf196;
  display: flex;
  padding-top: 100px;
}
.jm-footer-element {
  margin-bottom: 15px;
}
.jm-footer-element-titles {
  color: #333333;
  font-weight: 600;
  font-size: 24px;
}
.jm-footer-element-titles::after {
  display: block;
  content: "";
  border-top: 0.1rem solid black;
  width: 4rem;
  margin-right: 1rem;
  margin-bottom: 10px;
  margin-top: 10px;
}
.jm-footer-element-titles {
  color: #333333;
  font-weight: 600;
  font-size: 24px;
}
.jm-footer-element-titles::after {
  display: block;
  content: "";
  border-top: 0.1rem solid black;
  width: 4rem;
  margin-right: 1rem;
  margin-bottom: 10px;
  margin-top: 10px;
}
.jm-footer-element-logo {
  color: #333333;
  font-weight: 600;
  font-size: 24px;
}

/*Style for components of the Get In Touch section of the Footer*/
.jm-get-in-touch-text {
  display: flex;
  align-items: center;
}
.jm-get-in-touch {
  display: inline-block;
  width: 125px;
  font-weight: 500;
  color: #333333;
  font-size: 20px;
}
.jm-customer-service-num {
  display: inline-block;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
}
.jm-social-links {
  text-decoration: none;
  color: #333333;
  margin-right: 10px;
}
